:root { 
    --purple: #92278f;
}

body {
    background-color: #202020;
    color: white;
}

#intro {
    text-align: center;
    padding: 0 5vw;
}

h1 {
    margin-bottom: 0;
}

img {
    max-height: 80px;
    padding: 15px;
    object-fit: contain;
}



/* header {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    font-weight:900;
} */

.card {
    min-width: 200px;
    min-height: 130px;
}

button {
    background-color: var(--purple);
    padding: 10px;
    color: white;
    border: 0;
    min-width: 120px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    font-size: large;
    font-weight: 900;
    margin: 10px;
}

button:hover {
    background-color: #bc33b5;
}

#questions, #question1, #question2, #question3, #question4, #question5, #form {
    text-align: center;
    padding: 0 5vw;
    display: none;
}

ul {
    padding-inline-start: 0;
}

.hide {
    display: none;
}
